.multi-ce-area {
    height: 70%;
    display: flex;
}

.log-area {
    height: 20%;
    width: 95%;
    display: flex;
}

.ce-area {
    width: 45%;
    height: 100%; /* Set the height to match the parent container */
    margin: 0px;
    resize: none; /* Disable textarea resizing */
    overflow: auto; /* Add scrollbars when necessary */
}

#right-ce {
    /* align div to right */
    margin-left: auto; 
    margin-right: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    text-align: center;
    margin: 0;
    padding: 0;
}
